<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>mainpage</title>
  </head>
  <body>
    <div class="main">
      <div class="row">
        <div class="col-12 text-center text-white">
          <h1>Hello, stranger!</h1>
          <h4>Welcome to my skin page! That's a list of skins, which im using.<br>I hope to keep all of my skins on this archive-site.</h4>
          <h6>Sonelly, 30.06.2022</h6>
          <div class="container">
            <% unless user_signed_in? %>
              <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-light' %>
            <% else %>
              <%= link_to "Skin's list", skins_url, class: 'btn btn-info' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <script src="js/bootstrap.bundle.min.js"></script>
  </body>
</html>